.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    background-color: #121212;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    & > *{
        margin: 50px 0px;
    }
}

.image{
    border-radius: 50%;
}

.avatar{
    border-radius: 50%;
}
