.button {
  padding: 20px;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
  font-family: "DM Sans";
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border-radius: 5px;
  background-color: transparent;
}

.button:hover {
  color: #5865f2;
  border-color: #5865f2;
  cursor: pointer;
}

.button > span {
  margin-left: 10px;
}
