.container {
  border: 1px solid #797979;
  padding: 20px 32px;
  margin: 10px;
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  text-transform: capitalize;
}

.container:hover{
    border: 1px solid #ffffff;
}

.image{
    border-radius: 50%;
}
