.container {
  border: 1px solid #434343;
  padding: 20px 32px;
  margin: 10px;
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.container:hover{
    
}
