.card {
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
  width: 300px;
  background-color: #111;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.card::-webkit-scrollbar {
  width: 0.3em;
}

.card::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.card::-webkit-scrollbar-thumb {
  background-color: red;
}

.info {
  text-transform: capitalize;
}

.info > p > span {
    font-weight: bolder;
}
