.index {
  justify-content: space-between;
  flex-direction: column;
}

.image_wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_wrapper {
  display: flex;
  flex: 3;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.image {
  border-radius: 50%;
}
